body {
    margin:0;
}

a {
    text-decoration:none;
    color: white;
}

.informbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(28, 104, 104);
    padding: 8px 24px;
}

.informbar_name {
    font-size:20px;
}

.informbar_name a{
    padding: 8px 12px;
}

.informbar_menu {
    display:flex;
    list-style:none;
    padding-left:0;
}

.informbar_menu li{
    padding: 8px 12px;
}

.informbar_menu li:hover {
    background-color:rgb(173, 173, 52);
    border-radius: 7px;

}

.informbar_link {
    list-style:none;
}

.informbar_link li {
    padding: 8px 12px;
}

.informbar_link li:hover {
    background-color:rgb(173, 173, 52);
    border-radius: 7px;
}

.text_bar {
    background-image:url(images/roof1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height: 590px;
}

.text_bar p {
   margin: 0;
   text-align:center;
   color:white;
   padding : 278px 0px;
   font-size:25px;
}

.simple_inform {
    background-color:rgb(28, 104, 104);
    padding:12px;
}

.simple_inform p {
    margin: 0;
    text-align:center;
    color:white;
}